*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

/.env
/.env.testing

# Компилированные файлы и логи Laravel
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# База данных SQLite (Исключаем локальную БД, чтобы не затереть чужую)
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-shm
/database/*.sqlite-wal

# Специфичные файлы операционных систем и IDE
.idea/
.vscode/

